[Unit]
After=network.target

[Mount]
What=heapdumps.bucket.rchain-dev.tk
Where=/mnt/heapdumps
Type=gcsfuse
Options=_netdev,limit_ops_per_sec=-1

[Install]
WantedBy=multi-user.target
